
.header {
    padding: 30px;
    background-color: #2da6f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    padding: 30px;
    background-color: black;
    text-align: center;
}

.odin {
    color: white;
}

.resultbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    gap: 30px;
    padding-top: 10px;
}

body{
    margin: 0;
    font-family: "Lucidia Console", "Courier New", monospace;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px;
    padding-top: 300px;
    padding-bottom: 300px;
    gap: 50px;
    background-color: #c6eaff;
    flex-grow: 1;
}

.game {
    display: flex;
    flex-wrap: wrap;
}

.gameBtn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    font-size: 30px;
    font-family: "Lucidia Console", "Courier New", monospace;
    margin: 10px;
    }
    .gameBtn:hover{
    background-color:#4095c6;
    }
